{% extends "base.html" %}


{% block title %} Blog Main {% endblock %}

{% block content %}
    <h1>MAIN</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
        <a href="{% url 'users:logout' %}" class="btn">Logout</a>
        <a href="{% url 'articles:list' %}" class="btn">Articles</a>
    {% else %}
        <a href="{% url 'users:signup' %}" class="btn">Signup</a>
        <a href="{% url 'users:login' %}" class="btn">Login</a>
    {% endif %}
{% endblock %}
